.about{
    background-color: #15161c;
    display: flex;
    width: 100%;
    flex-direction: column;
    &-title{
        color:white;
        padding: 80px 80px;
        margin: 0;
    }
    &-content{
        width: 60%;
        padding: 0 0 20px 80px;
    }
    &-items{
        display:flex;
        padding: 50px
    }
    &-one{
        width: 20%;
        background-color: black;
        margin: 0px 15px 150px 0;
        padding: 40px 50px 80px 40px;
    }
}
.value{
&-item{
    width:100%;
    margin-bottom: 0;   
}
&-title{
    color: white;
}
&-image{
    position: relative;
    top: 15px;
}
}