.header{
    width:100%;
    padding: 20px 0px;
    display:flex;
    background-color: #0D0E12;
    justify-content: space-between;
    align-items: center;
    &-logo{
        padding-left: 80px;
    }
    &-wrap{
        padding-right: 80px;
    }
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        &-item{
        margin-right: 10px;
        font-size: 14px;
        font-weight: 400;
        }
        &-link{
            text-decoration: none;
            color: white;
        }
    }
    &-media{
        display: none;
        @media screen and (max-width:768px){
            display: block;
        }
        &-button{
            background-image: url('/src/assets/images/mobileNav.jpg');
        }
    }
}