$background: #15161c;

.specialization{
    color: #fff;
    background-color: $background;
    padding: 110px 80px 130px 80px;

    
}

.spec-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}