@keyframes rotate {
    100% {
      transform: rotate(360deg); } }
.anim{
  animation: rotate 2s infinite linear; 
  &-preloader{
    position: fixed;
    top: 48%;
    left: 46%;
    animation: rotate 2s infinite linear;
  }
}