.form{
    background: #15161C;
    border: 1px solid #2D9662;
    border-radius: 12px;
    width: 100%;
    position: relative;
    top: -30px;

    @media (min-width:1024px){
        max-width: 50%;
        top: -220px;
        right: 0px;
    }
    // @media (min-width: 1300px){
    //     max-width: 580px;
    //     top: -220px;
    //     right: 0px;
    // }
    &-wrap{
        padding: 105px 70px 70px;
        @media (min-width:1024px){
            padding:65px 50px;
        }
        
    }
    &-title{
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        width: 60%;
        text-align: left;
        margin-top: 0;
        margin-bottom: 14px;
        @media (min-width:1024px){
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 25px;
        }
    }
    &-group{
        width: 100%;
        color: #fff;
        margin-bottom: 28px;
    
        font-weight: normal;
        font-size: 16px;
        line-height: 35px;
        /* identical to box height, or 219% */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
        @media (min-width:1024px){
            margin-bottom: 18px;
        }
        textarea{
            height: 125px;
            width: 95%;
            background: #262833;
            border-radius: 8px;
            border: none;
            outline: none;
            color: #fff;
            padding: 10px 0px 0px 15px;
            font-size: 16px;
            font-family: 'Grandis', sans-serif;
        }
        
    }
    &-input{
        width: 95%;
        background: #262833;
        border-radius: 8px;
        border: none;
        outline: none;
        color: #fff;
        padding: 0 0 0 15px;
        height: 40px;
        font-size: 16px;
        font-family: 'Grandis', sans-serif;
    
    }
    &-button{
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.06em;
    
        color: #FFFFFF;
        background: #2D9662;
        box-shadow: 0px 5px 14px rgba(58, 204, 129, 0.4), inset 6px 6px 14px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        width: 100%;
        padding: 22px 0;
        border: none;
        outline: none;
        cursor: pointer;
        
    }
    .btn-wrap{
        @media (min-width: 1024px){
            display: block;
        }
    }
    
}
.flex{
    display: flex;
    flex-direction: column-reverse;  
    @media (min-width:1300px){
        flex-direction: row;
    }
}

.error{
    border: 1px solid red;
}


//   @media screen 
//   and (min-width: 1024px) 
//   and (max-width: 1299px){
//     .flex{
//         display: flex;
//         justify-content: space-between;
//         .form{
//             width: 48%;
//             right: 6px;
//             top: -150px;
//             &-wrap{
//                 padding: 65px 50px 65px 45px;
//             }
//             &-group{
//                 margin-bottom: 18px;
//             }
//         }

//     }
//   }


