.about{
    background-color: #15161c;
    display: flex;
    padding: 72px 15px 85px 15px;

    .title-of-block{

        color:white;
        padding-bottom: 16px;
        margin: 0;
    }
    &-content{
        width: 100%;
        color: white;
        padding-bottom: 30px;
    }
    &-items{
        display:flex;
        justify-content: center;
        flex-direction: column;
        :last-child{
            margin-right: 0;
            color: white;
        }
    }
    &-item-wrap{
        width: 25%;
        border-radius: 12px;
        background: #111217;
        margin-right: 15px;
        margin-bottom: 15px;
        
    }
    &-one{
        margin: 55px;
        background: #111217;

        // padding: 62px 55px 52px 55px;
        
    }
}
.value{
&-item{
    width:100%;
    margin-bottom: 0;   
}

&-title{
    color: white;
    margin-bottom: 20px;
    margin-top: 40px;
    h3{
        margin-top: 0;
    }
}

&-image{
    position: relative;
    top: 15px;
}
}

@media screen 
  and (min-width: 1300px) 
  and (max-width: 1899px){
      
    .about{
        padding-bottom: 145px;
        .title-of-block{
            padding-bottom: 6px;
        }
        &-content{
            padding-bottom: 79px;
        }
        &-items{
            flex-wrap: wrap;
            justify-content: center;
            // max-width: 100%;
            
            
        }
        &-item-wrap{
            width: 48%;
            margin: 0;
        }

    }

  @for $i from 1 through 4{
    @if $i % 2 == 1{
        .about{
            &-items{
                :nth-child(#{$i}){
                    margin-right: 35px;
                    // margin-bottom: 35px;
                }
            }
        }
      }
      @if $i > 2{
        .about{
            &-items{
                flex-wrap: wrap;
            }
            &-item-wrap{
                margin-bottom: 35px;
            }
        }
      }
  }
  }

  @media screen 
  and (min-width: 1024px) 
  and (max-width: 1299px){
    .about{
        &-item-wrap{
            width: 48.9%;
        }
    }
    @for $i from 1 through 4{
        @if $i % 2 == 0{
            .about{
                &-items{
                    :nth-child(#{$i}){
                        margin-right: 0;
                    }
                }
            }
          }
          @if $i > 2{
            .about{
                &-items{
                    flex-wrap: wrap;
                }
                &-item-wrap{
                    
                    margin-bottom: 35px;
                }
            }
          }
    }
  }

  @media screen 
  and (min-width: 320px) 
  and (max-width: 760px){
    .about{
 
        &-items{
            flex-direction: column;
        }
        &-item-wrap{
            width: 100%;
        }
        .value{
            &-title{
                margin-bottom: 15px;
                margin-top: 31px;
            }
        }
        &-one{
            margin: 35px 25px 29px 20px;
            // width: auto;
            // margin-bottom: 15px;
        }
    }
  }
