.about{
    background-color: #15161c;
    display: flex;
    padding: 72px 15px 85px 15px;

    // @media (min-width:1024px){
    //     padding:  112px 80px 145px;
    //     @for $i from 1 through 4{
    //         @if $i % 2 == 1{
    //             .about{
    //                 &-items{
    //                     :nth-child(#{$i}){
    //                         margin-right: 35px;
    //                         // margin-bottom: 35px;
    //                     }
    //                 }
    //             }
    //           }
    //           @if $i < 2{
    //             .about{
    //                 &-items{
    //                     flex-wrap: wrap;
    //                 }
    //                 &-item-wrap{
    //                     margin-bottom: 35px;
    //                 }
    //             }
    //           }
    //       }
    // }

    .title-of-block{
        color:white;
        padding-bottom: 16px;
        margin: 0;
        @media (min-width:1024px){
            padding-bottom: 6px;
        }
    }
    &-content{
        width: 100%;
        color: white;
        padding-bottom: 30px;
        @media (min-width:1024px){
            width:50%;
            padding-bottom: 0;
            margin-bottom: 79px;
            font-size: 16px;
            line-height: 30px;
        }
    }
    &-items{
        display:flex;
        justify-content: center;
        flex-direction: column;
        :last-child{
            margin-right: 0;
            color: white;
        }
        @media (min-width:1300px){
            flex-direction: row;
            justify-content: end;
        }
    }
    // &-item-wrap{
    //     width: 25%;
    //     border-radius: 12px;
    //     background: #111217;
    //     margin-right: 15px;
    //     margin-bottom: 15px;
        
    // }
    &-one{
        margin: 35px;
        background: #111217;

        // padding: 62px 55px 52px 55px;
        @media (min-width: 1024px){
            width: 45%;
            margin-bottom: 35px;
        }
        
    }
}
.value{
    &-item{
        margin: 35px 20px 30px 25px  
    }

    &-title{
        color: white;
        margin-bottom: 20px;
        margin-top: 40px;
        h3{
            margin-top: 0;
        }
}

    &-image{
        position: relative;
        top: 15px;
    }
}

// @media screen 
//   and (min-width: 1300px) 
//   and (max-width: 1899px){
      
//     .about{
//         // padding-bottom: 145px;
//         .title-of-block{
//             // padding-bottom: 6px;
//         }
//         // &-item-wrap{
//         //     width: 48%;
//         //     margin: 0;
//         // }

//     }


//   }

// //   @for $i from 1 through 4{
// //     @if $i % 2 == 0{
// //         .about{
// //             &-items{
// //                 :nth-child(#{$i}){
// //                     @media (min-width:1024px){ 
// //                         margin-right: 0;
// //                     }
                   
// //                 }
// //             }
// //         }
// //       }
// //       @if $i > 2{
// //         .about{
// //             &-items{
// //                 @media (min-width:1024px){ 
// //                     flex-wrap: wrap;
// //                 }
// //             }
// //             &-one{
                
// //                 @media (min-width:1024px){ 
// //                     margin-bottom: 0;
// //                 }
// //             }
// //         }
// //       }
// }



  @media screen 
  and (min-width: 1024px) 
  and (max-width: 1299px){
    .about{
        &-item-wrap{
            width: 48.9%;
        }
    }
   
  }

  @media screen 
  and (min-width: 320px) 
  and (max-width: 760px){
    .about{
        &-item-wrap{
            width: 100%;
        }
        .value{
            &-title{
                margin-bottom: 15px;
                margin-top: 31px;
            }
        }
        &-one{
            margin: 35px 25px 29px 20px;
            // width: auto;
            // margin-bottom: 15px;
        }
    }
  }
