.about{
    background-color: #15161c;
    display: flex;
    // width: 100%;
    // flex-direction: row;
    padding-bottom: 150px;

    .title-of-block{

        color:white;
        padding-bottom: 30px;
        margin: 0;
    }
    &-content{
        width: 45%;
        padding-bottom: 100px;
    }
    &-items{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // :last-child{
        //     margin-right: 0;
        // }
    }
    &-one{
        border-radius: 12px;
        width: 17%;
        background-color: #111217;
        margin: 0px 0px 35px 0;
        padding: 62px 55px 52px 55px;
        
    }
}
.value{
&-item{
    width:100%;
    margin-bottom: 0;   
}

&-title{
    color: white;
    margin-bottom: 20px;
    margin-top: 35px;
    h3{
        margin-top: 0;
    }
}

&-image{
    position: relative;
    top: 15px;
}
}

@media only screen 
  and (min-device-width: 1300px) 
  and (max-device-width: 1899px){
      
    .about{
        padding-bottom: 145px;
        .title-of-block{
            padding-bottom: 6px;
        }
        &-content{
            padding-bottom: 79px;
        }
        &-items{
            justify-content: center;
            // max-width: 100%;
            :nth-child(odd){
                margin-right: 35px;
            }
            
        }
        &-one{
            min-width: 385px;
            width: auto;
            max-width: 40%;
            display: inline-block;
            vertical-align: top;
            
        }
    }
  }

//   @media only screen and(max-device-width: 1510px){
//       .about{
//           &-one{
//               max-width: 38%;
//           }
//       }
//   }


  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1299px){
    .about{
        &-items{
            justify-content: space-around;
            display: flex;
        }
        &-one{
            width: 37%;
            height: 300px;
            align-self: center;
            display: block;
            // vertical-align: 0;
        }
    }
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 760px){
    .about{
        padding: 72px 15px 85px 15px;
        &-content{
            width: 100%;
        }
        &-items{
            flex-direction: column;
        }
        &-one{
            padding: 35px 25px 29px 20px;
            width: auto;
            margin-bottom: 15px;
        }
    }
  }