.contact-item{
    display: flex;
}
.contact-image{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #10CC94;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    margin-top: 7px;
}

.contact-info{
    margin-left: 10px;
}

.contact-service{
    p{
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        /* identical to box height */

        text-align: left;
        letter-spacing: 0.04em;
        color: #fff;
        margin: 15px 0 10px 0;
    }
}

.contact-data{
    p{
        font-size: 18px;
        line-height: 35px;
        /* identical to box height, or 194% */
        
        letter-spacing: 0.03em;
    }
}