.in-progress{
    padding: 11px 0;
    font-weight: 600;
    background: #4CCC75;
    text-transform: uppercase;
    border-radius: 100px;
    letter-spacing: 1px;
    width: 165px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    @media(min-width: 1024px){
        // width: 165px;
        margin-top: 0;
        margin-bottom: 23px;
    }
    @media (min-width: 1900px){
        width: 200px;
    }
}

.in-projects{
    color: #fff;
    position: absolute;
    top: 20px;
    left: 15px;
}