
.case{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-top: 63px;
        @media (min-width:1300px){
            flex-direction: row;
        }
    &-image{
        background: linear-gradient(260.35deg, #DB6948 -22.12%, #D4487D 100%);
        display: flex;
        justify-content: center;
        width: 750px;
        border-radius: 8px;
        margin-right: 90px;
    }
    &-description{
        padding: 0 15px;
        width: 92%;
        margin-top: 30px;
    }
    &-title{
        margin-bottom: 0;
        line-height: 30px;
        font-size: 18px;
    }
    &-link{
        margin-top: 72px;
        display: flex;
        align-items: center;
        a{
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-decoration: none;
        text-align: center;
        letter-spacing: 0.04em;

        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover{
            text-decoration: underline;
        }
        }
    }
    &-circle{
        content: '';
        width: 60px;
        height: 60px;
        margin-left: 15px;
        border-radius: 50%;
        background: linear-gradient(219.47deg, #10CC94 3.01%, #83CC59 107.31%);
        box-shadow: 0px 4px 8px rgba(58, 204, 129, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        // &:hover{
        //     background: linear-gradient(219.47deg, #10CC94 107.31%, #83CC59 3.01%);
        // }
    }
}



.tellme{
    background: #329AE5;
    padding: 77px 0;
}

.vote{
    background: #1F1F1F;
}


@media screen 
  and (min-width: 1300px) 
  and (max-width: 1899px){
    .case{
        margin-bottom: 60px;
        
        &-image{
            min-width: 580px;
            width: 100%;
            max-width: 40%;
            padding: 60px 0px 0px;
            img{
                min-width: 318px;
                width: 100%;
                max-width: 50%;
            }
        }
        &-title{
            font-size: 28px;
            line-height: 45px;
        }
        &-description{
            width: 41%;
        }
      }
    
  }


  @media screen 
  and (min-width: 1024px) 
  and (max-width: 1299px){
      .case{
        display: flex;
        flex-direction: row;
          &-image{
            //   flex-wrap: nowrap;
              margin-right: 70px;
              padding-left: 66px;
              padding-right: 66px;
              width: 40%;
              img{
                  width: 100%;
              }
              
          }
          .itseems-background{
              padding-top: 60px;
            img{
                width: 75%;
            }
        }
          &-title{
            width: 100%;
            font-size: 28px;
            line-height: 45px;
        }

        &-description{
            width: 37%;
            margin-top: 30px;
        }
        &-link{
            margin-top: 30px;
            &-item{
                font-size: 18px;
            }
        }
      }
  }

  @media screen 
  and (min-width: 320px) 
  and (max-width: 760px){
    
        .case{
            
            .itseems-background{
                padding-bottom: 0;
            }
            &-image{
                border-radius: 0;
                width: 100%;
                padding: 50px 0;
                margin-right: 0;
                img{
                width: 60%;
                }
            }
            &-title{
                margin-bottom: 0;
                line-height: 30px;
            }
            &-link{
                margin-top: 15px;
                &-item{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    
  }