
.specialization{
    background-color: #15161c;    
    padding: 60px 15px 69px 15px;
    text-align: center;
    @media (min-width:1024px){
        padding: 110px 80px 129px 80px;
    }
    @media (min-width:1300px){
        text-align: initial;
    }
    .title-of-block{
        width: 100%;
    }
    .spec-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
        :last-child{
            margin-bottom: 0;
        }
        @media (min-width:1024px){
            margin-top: 58px;
            justify-content: space-between;
        }
        @media (min-width:1300px){
            //padding: 178px 152px 162px 152px;
            margin-top: 78px;
        }
        .spec-item{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 41px;
            @media (min-width:1300px){
               min-width: 250px;
                width: auto;
                max-width: 30%;
        
                display: inline-block;
                vertical-align: top;
        
                margin-bottom: 69px;
            }
            .spec-title{
                margin-top: 30px;
                @media (min-width:1300px){
                    font-size: 28px;
                    margin-top: 36px;
                    margin-bottom: 6px;
                    align-self: baseline
                }
            }
            .spec-image{
                @media (min-width: 1300px){
                    width: 110px;
                    position: relative;
                    left: -17px;

                }
            }
            .spec-text{
                width: 100%;
                @media (min-width: 1300px){
                    width: 90%;


                }

            }
        }
    }

}


