
.specialization{
    background-color: #15161c;    
    padding: 60px 15px 50px 15px;
    text-align: center;

}

.spec-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

    @media screen 
    and (min-width: 1300px) 
    and (max-width: 1899px){
         
        .spec-section{
            margin-top: 78px;
            .spec-item{
                min-width: 250px;
                width: auto;
                max-width: 30%;
        
                display: inline-block;
                vertical-align: top;
        
                margin-bottom: 69px;
                .spec-title{
                    font-size: 28px;
                    margin-top: 36px;
                    margin-bottom: 6px;
                } 
                .spec-image{
                    width: 110px;
                }
                .spec-text{
                    width: 90%;
                }  
        }
    
    }
    
  
}


  @media screen 
  and (min-width: 1024px) 
  and (max-width: 1299px){
    .specialization{
        &-paragraph{
            width: 53%;
       }   
    }
    .spec-section{
        margin-top: 58px;
        justify-content: space-between;
    }
  }

  @media screen 
  and (min-width: 320px) 
  and (max-width: 760px){

    .specialization{
        // padding: 69px 15px 69px 15px;
        // text-align: center;
        .title-of-block{
            width: 100%;
        }
        .spec-section{
            margin-top: 50px;
            :last-child{
                margin-bottom: 0;
            }
            .spec-item{
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 41px;
                .spec-title{
                    margin-top: 30px;
                }
                .spec-text{
                    width: 100%;
                }
            }

        }
    }
    
  }



// @media screen 
// and (min-width: 1024px) 
// and (max-width: 1299px){
//     .spec-item{
//         width: 47%;
//         .spec-title{
//             margin-top: 30px;
//         }
//         .spec-text{
//             width: 100%;
//         }
//     }
// }

// @media screen 
// and (min-width: 320px) 
// and (max-width: 760px){
//     .spec-item{
        
        
//     }
// }