.spec-item{
    width: 500px;
    // text-align: left;
    margin-bottom: 100px;
    .spec-title{
         font-size: 24px;
        line-height: 45px;
        margin-top: 30px;
        margin-bottom: 15px;
        color:white;
        font-weight: 500;
    }
    .spec-text{
        width: 100%;
        color: #fff;
    }    
}


.value-title{
    display: flex;
    align-items: center;
    h3{
        font-size: 28px;
        margin-top: 30px;
    }
}



.value-image{
    height: 55px;
}

@media screen 
and (min-width: 1024px) 
and (max-width: 1299px){
    @for $i from 1 through 6{
        @if $i >3{
            .spec-section{
                :nth-child(#{$i}){
                    margin-bottom: 0;
                }
            }
        }
    }
    .spec-item{
        width: 30%;
        text-align: left;
       
        .spec-title{
            font-size: 28px;
            line-height: 45px;
            margin-top: 44px;
            margin-bottom: 6px;
        }
        .spec-text{
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.8);
        }
    }
   
}
@media screen 
and (min-width: 320px) 
and (max-width: 760px){
    .value-title{
        margin-bottom: 15px;
        margin-top: 31px;
    }
}

