.spec-item{
    width: 500px;
    // text-align: left;
    margin-bottom: 100px;
    .spec-title{
        // font-size: 34px;
        line-height: 45px;
        margin-top: 48px;
        margin-bottom: 15px;
    }
    .spec-text{
        width: 82%;
    }    
}


.value-title{
    display: flex;
    align-items: center;
    h3{
        font-size: 28px;
        margin-top: 30px;
    }
}



.value-image{
    height: 55px;
}

@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1299px){
    .spec-item{
        width: 50%;
        .spec-title{
            // font-size: 34px;
            line-height: 45px;
            margin-top: 44px;
            margin-bottom: 6px;
        }
    }
}
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 760px){
    .value-title{
        margin-bottom: 15px;
        margin-top: 31px;
    }
}

