
.home{
    background-image: url('../../assets/images/homeBackground.png');
    color:white;
    // height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding: 0px 15px 60px 15px;
    @media (min-width:1299px){
        padding: 0px 0px 60px 80px;
    }
    .container{
        display: flex;

        .introduce{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &-header{
        color:#3ACC81;
        line-height: 90px;
        &-first{
            color:white;
        }
    }
    &-paragraph{
        font-size: 16px;
        line-height: 30px;
        margin: 21px 0px 70px 0px;
        width: 100%;
        @media (min-width:1299px){
            width:50%
        }
    }
}



// @media screen 
//   and (min-width: 1300px) 
//   and (max-width: 1899px){
//       .home{
//           &-paragraph{
//               width: 40%;
//           }
//       }
//   }
