
.home{
    background-image: url('../../assets/images/homeBackground.png');
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding: 180px 0  82px 0;
    .container{
        display: flex;

        .introduce{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &-header{
        // margin-top: 100px;
        color:#3ACC81;
        // font-size: 50px;
        // padding: 100px 0 20px 0;
        line-height: 90px;
        &-first{
            color:white;
        }
    }
    &-paragraph{
        font-size: 18px;
        line-height: 35px;
        // padding: 10px 15px 80px 80px;
        margin-top: 21px;
        width: 40%;
    }
}



@media only screen 
  and (min-device-width: 1300px) 
  and (max-device-width: 1899px){
      .home{
          &-paragraph{
              width: 40%;
          }
      }
  }


  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 760px){
    .home{
        padding: 46px 15px 60px 15px;
        &-paragraph{
        width: 100%
        }
    }
  }
