
.home{
    background-image: url('../../assets/images/homeBackground.jpg');
    color:white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding: 100px 0  82px 0;
    .container{
        display: flex;

        .introduce{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &-header{
        // margin-top: 100px;
        color:#3ACC81;
        // font-size: 50px;
        // padding: 100px 0 20px 0;
        line-height: 90px;
        &-first{
            color:white;
        }
    }
    // &-paragraph{
    //     font-size: 14px;
    //     width: 55%;
        // padding: 10px 15px 80px 80px;
        // margin-bottom: 100px;
    // }
}
