.home{
    background: url('../../../assets/images/homeGreen.svg'),
        // url('../../../assets/images/background-animation.svg') right no-repeat,
        url('../../../assets/images/lines.svg');
    //color: white;
    height: 100vh;
    background-color: #0D0E12;
    // background-size: auto, contain;
    background-repeat: no-repeat, repeat-y;
    background-position-y: bottom, top;
    padding: 0px 15px 60px 15px;
    @media (min-width:768px){
        padding: 0;
    }
    @media (min-width:1024px){
        padding-left: 60px;
        padding-right: 60px;
    }
    @media (min-width:1300px){
        padding: 0px 0px 60px 80px;
    }
    @media (min-width: 1024px){
        padding: 60px 81px;
    }
    @media (min-width: 1900px){
        padding: 0 150px;
        //background-size: cover, cover;
    }
    .container{
        display: flex;
        // max-width: 1920px;

        .introduce{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &-wrap{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        // flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        @media (min-width:1024px){
            flex-direction: row;
            
            justify-content: space-between;
        }
        @media (min-width:1300px){
            position: relative;
            // justify-content: center;
            max-height: 700px;
        }
        @media (min-width:1900px){
            max-height: 1000px;
        }
    }
    &-header{
       
        color:#3ACC81;
        font-size: 38px;
        line-height: 50px;
        
        @media (min-width: 1024px){
            margin-top: 100px;
            position: relative;
            top: 106px;
            font-size: 40px;
            line-height: 90px;
          }
        @media(min-width:1300px){
            font-size: 50px;
            line-height: 90px;
        }
        @media(min-width:1616px){
            top: 80px;
        }
        @media(min-width:1733px){
            top: 0;
        }
        @media(min-width:1900px){
            font-size: 66px;
            line-height: 90px;
        }
        &-first{
            color:white;
            line-height: 40px;
            @media (min-width: 1024px){
                font-size: 50px;
                line-height: 90px;
              }
              @media(min-width:1900px){
                font-size: 66px;
                line-height: 90px;
            }
        }
        .animation-one{
            // animation-delay: 2s;
            @media (min-width: 1024px){
                position: relative;
                animation-name: change-text;
                animation-duration: 9s;
                animation-iteration-count: infinite;
            }
            @media (min-width: 1900px){

            }

        }
        .animation-two{
            display: none;
            position: relative;
            
            // animation-name: text-animation-1600-2;
            // animation-delay: 2s;
            @media(min-width: 1024px){
                display: inline;
                left: 95px;
                opacity: 0;
                animation-name: change-text-two;
                animation-duration: 9s;
                animation-iteration-count: infinite;
            }
            @media (min-width: 1600px){
                animation-name: text-animation-1600-2;
                left: 125px;
            }
            @media (min-width: 1733px){
                animation-name:text-animation-1600-2;
                // left: -585px;
            }
            @media (min-width: 1900px){
                left: 125px;
                animation-name: change-text-two;
            }
        }
        .animation-three{
            display: none;
            position: relative;
            opacity: 0;
            
            // animation-delay: 4s;
            @media(min-width: 1024px){
                left: -107px;
                white-space: nowrap;
                display: inline;
                animation-name: change-text-three;
                animation-duration: 9s;
                animation-iteration-count: infinite;
            }
            @media (min-width: 1300px){
                left: -147px;
            }
            @media (min-width: 1600px){
                animation-name:text-animation-1600-3;
                // left: -845px;
            }
            @media (min-width: 1733px){
                animation-name:text-animation-1600-3;
                // left: -845px;
            }
            
            @media (min-width: 1900px){
                left: -210px;
                animation-name: change-text-three;
            }
        }
        
    }
    &-paragraph{
        letter-spacing: 0.03em;
        line-height: 30px;
                font-weight: 300;
                font-size: 15px;
                line-height: 30px;
                margin: 21px 0px 0 0px;
                letter-spacing: 0.03em;
                width: 100%;
                // margin-top: -80px;
                @media (min-width: 1024px){
                    width: 400px;
                    margin: 21px 0px 150px 0px;
                }
                @media (min-width:1300px){
                    width:564px;
                    font-size: 16px;
                }
                @media (min-width: 1616px){
                    margin-top: 0;
                }
                @media (min-width: 1733px){
                    margin-top: -70px;
                }
                @media (min-width:1900px){
                    font-size: 18px;
                    width: 635px;
                    line-height: 35px;
                    margin-top: -50px;
                }
    }
    &-intro{
        @media (min-width: 360px){
            margin-top: 15px;
        }
        @media(min-width: 1024px){
            width: 570px;

        }
            @media(min-width: 1300px){
                width: 705px;

            }
        @media(min-width: 1900px){
            width: 910px;

        }
    }
    &-animation{
        background: url('../../../assets/images/background-animation.svg');
        background-size: cover;
        background-position-x: center;
        width: 65%;
       
        height: 400px;
        transform: scale(-1, 1);
        // @media(max-width: 768px){
        //     position: relative;
        //     top: 100px;
        //     // width: 277px;
        //     // height: 538px;
        // }

        @media(min-width: 320px) and (max-width: 339px){
            position: relative;
            top: 20px;
        }
        @media(min-width: 340px) and (max-width: 410px){
             width: 100%;
            
        }
        @media(min-width: 411px) and (max-width: 767px){
            width: 350px;
                position: relative;
                top: 20px;
       } 
       @media (min-width: 768px) and (max-width: 1023px){
            width: 56%
        }   
        
        @media (min-width: 1024px) and (max-width: 1299px){
            transform: scale(1, 1);
        }
        @media(min-width: 1300px){
            width: 500px;
            
            height: 600px;
            transform: scale(1, 1);

            // height: 538px;
        }
        @media(min-width: 1900px){
            width: 500px;
            // height: 538px;
        }
        
    }
   
    &-lego{
        position: relative;
        @media(min-width: 320px) and (max-width: 339px){
            width: 125px;
            top: 49px;
            right: -39px;
        }
        @media(min-width: 340px) and (max-width: 410px){
            width: 70%;
            top: 80px;
            right: -55px;
        }
        @media(min-width: 411px) and (max-width: 767px){
            width: 65%;
            top: 99px;
            right: -77px;
        }
        @media (min-width: 768px) and (max-width: 1023px){
            width: 65%;
            position: relative;
            top: 100px;
            right: -74px;
        }
        @media (min-width: 1024px){
            width: 250px;
            top: 69px;
            right: -55px;
        }
        @media(min-width: 1300px){
            width: 350px;
            position: relative;
            top: 137px;
            right: -98px;
        }
        @media(min-width: 1900px){
            width: 400px;
            position: relative;
            top: 76px;
            right: -60px;
        }
    }
    
    .block{
        @media(max-width: 1023px){
            display: none;

        }
        @media(min-width: 1024px){
            width: 70px;
            position: relative;

        }
        @media(min-width: 1300px){
            width: 105px;
        }
        @media(min-width: 1900px){
            width: 120px;
            
        }
        &-first{
            animation-duration: 3s;
            @media(min-width: 1024px){
                animation-name: block-first-1024;
                top: -87px;
                right: 19px;
            }
            @media(min-width: 1300px){
                animation-name: block-first-1300;
                top: -77px;
                right: 7px;
            }
            @media(min-width: 1900px){
                top: -313px;
                right: -340px;
                animation-name: block-first;

            }
        }
        &-third{
            opacity: 0;
            animation-duration: 3s;
            animation-delay: 5s;
            animation-fill-mode: forwards;
            @media(min-width: 1024px){
                animation-name: block-third-1024;
                top: -149px;
                right: -186px;
            }
            @media(min-width: 1300px){
                animation-name: block-third-1300;
                top: -168px;
                right: -282px;
            }
            @media(min-width: 1900px){
                top: -272px;
                right: -150px;
                animation-name: block-third;

            }
        }
        &-second{
            opacity: 0;
            animation-duration: 3s;
            animation-delay: 2.5s;
            animation-fill-mode: forwards;
            @media(min-width: 1024px){
                animation-name: block-second-1024;
                top: -123px;
                right: -75px;
            }
            @media(min-width: 1300px){
                animation-name: block-second-1300;
                top: -133px;
                right: -116px;
            }
            @media(min-width: 1900px){
                animation-name: block-second;
                top: -232px;
                right: 41px;
            }
        }
    

       

       
        
    }
   
}   

// Animation for cube
// 1024
@keyframes block-first-1024{
    0%{
        opacity: 0;
        right: -50px;
        top: 50px;

    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;

        
    }
}


@keyframes block-second-1024{
    0%{
        opacity: 0;
        right: 250px;
        top: 300px;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        
    }
}
@keyframes block-third-1024{
    0%{
        opacity: 0;
        right: -550px;
        top: 200px;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        
    }
}

// 1300

@keyframes block-first-1300{
    0%{
        opacity: 0;
        right: -100px;
        top: 50px;

    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;

        
    }
}


@keyframes block-second-1300{
    0%{
        opacity: 0;
        right: 500px;
        top: 300px;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        
    }
}
@keyframes block-third-1300{
    0%{
        opacity: 0;
        right: -550px;
        top: 200px;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        
    }
}

// 1900
@keyframes block-first{
    0%{
        opacity: 0;
        right: -500px;
        top: -150px;
    }
    70%{
        opacity: 1;
    }
    100%{
        // right: -340px;
        
    }
}


@keyframes block-second{
    0%{
        opacity: 0;
        right: 400px;
        top: -100px;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        
    }
}
@keyframes block-third{
    0%{
        opacity: 0;
        right: -400px;
        top: -100px;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        
    }
}

// Animation for text


@keyframes change-text{
    0%{
        opacity: 0;
        top: 50px;
    }
    15%{
        opacity: 1;
        top: 0;
    }
    30%{
        opacity: 0;
        top: -100px;

    }
    100%{
        top: -100px;
        opacity: 0;
    }
}
@keyframes change-text-two{
    0%{
        opacity: 0;
        top: 0;
    }
    30%{
        opacity: 0;
        top: -35px;
    }
    45%{
        opacity: 1;
        top: -85px;
    }
    60%{
        opacity: 0;
        top: -185px;
    }
    100%{
        top: -100px;
        opacity: 0;
    }
}


@keyframes change-text-three{
    0%{
        opacity: 0;
        top: -30px;
    }
    60%{
        opacity: 0;
        top: -30px;
    }
    75%{
        opacity: 1;
        top: -90px;
    }
    90%{
        top: -200px;
        opacity: 0;
    }
    100%{
        top: -200px;
        opacity: 0;
    }
}

// // 1600px

@keyframes text-animation-1600-2{
    0%{
        opacity: 0;
        top: 0;
    }
    30%{
        opacity: 0;
        top: -40px;
    }
    45%{
        opacity: 1;
        top: -90px;
    }
    60%{
        opacity: 0;
        top: -170px;
    }
    100%{
        top: -150px;
        opacity: 0;
    }
}

@keyframes text-animation-1600-3{
    0%{
        opacity: 0;
        top: 50px;
    }
    60%{
        opacity: 0;
        top: -50px;
    }
    75%{
        opacity: 1;
        top: -90px;
    }
    90%{
        top: -200px;
        opacity: 0;
    }
    100%{
        top: -180px;
        opacity: 0;
    }
}
// 1616px

@keyframes text-animation-1616-2{
    0%{
        opacity: 0;
        top: 0;
    }
    30%{
        opacity: 0;
        top: 30px;
    }
    45%{
        opacity: 1;
        top: 0;
    }
    60%{
        opacity: 0;
        top: -100px;
    }
    100%{
        top: -150px;
        opacity: 0;
    }
}

@keyframes text-animation-1616-3{
    0%{
        opacity: 0;
        top: 50px;
    }
    60%{
        opacity: 0;
        top: 50px;
    }
    75%{
        opacity: 1;
        top: 0;
    }
    90%{
        top: -100px;
        opacity: 0;
    }
    100%{
        top: -100px;
        opacity: 0;
    }
}


