.portfolio{
    @media screen and (min-width: 1023px){
        padding: 112px 80px 140px 80px;
    }
    background: #111217;
    //width: 100%;
    color: #FFFFFF;
    padding: 60px 0px 50px 0px;
    @media (min-width:1299px){
        padding: 60px 0px 50px 80px;
    }
    &-title{
        margin-left: 15px;
        
    }

}

@media screen 
  and (min-width: 1300px) 
  and (max-width: 1899px){
      .portfolio{
          padding-bottom: 140px;
          &-list{
            :last-child{
                margin-bottom: 0;
            }
          }
      }
  }



