.portfolio{
    @media (min-width: 1024px){
        padding: 112px 80px 140px 80px;
    }
    background: #111217;
    //width: 100%;
    color: #FFFFFF;
    padding: 60px 0px 50px 0px;
    @media (min-width:1024px){

        padding: 112px 80px 140px 80px;
    }
    &-list{
        @media (min-width:1024px){
            :last-child{
                margin-bottom: 0;
            }
        }

    }
    &-title{
        margin-left: 15px;

        
    }

}


