.generalModal {  
      position: relative;
      width: 100%;
      height: 100%;
      text-align: right;
      &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 150px 70px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .sub-title{
            margin-top: 35px;
        }
        .text{
          text-align: center;
          
        }
      }
    &__image{
      width: 150px;
    }
  
    &__close{
      width: 30px;
      height: 30px;
      position: relative;
      background-color: #15161C;
      border: none;
      cursor: pointer;
  
      &-wrap{
        position: relative;
        top: 30px;
        right: 30px;
      }
  
      &:before,&:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #2D9662;
        top: 50%;
        left: 50%
      }
      &:before{
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after{
        transform: translate(-50%, -50%) rotate(-45deg);
      }
  
    }
  
    &__br{
      @media screen and (max-width: 340px) {
       display: none;
      }
    }
  
    &__title{
      font-size: 27px;
      margin: 90px 0px 60px;
      font-weight: bold;
      color: white;
      text-align: center;
    }
  
    &__content{
      background-color: var(--bg-very-light-blue);
      padding: 20px;
      margin-bottom: 20px;
      letter-spacing: 0.1px;
      font-size: 14px;
      @media screen and (max-width: 500px) {
        overflow: auto;
        max-height: 420px;
      }
      @media screen and (max-width: 380px) {
        max-height: 340px;
      }
      @media screen and (max-width: 350px) {
        padding: 10px;
        margin-bottom: 14px;
        max-height: 290px;
      }
      @media screen and (min-width: 768px) {
        padding: 25px;
      }
    }
  
    &__btn{
      &-wrap{
        display: flex;
        justify-content: center;
      }
  
      &:hover {
        background-color: var(--bg-btn-main-hover);
      }
  
      width: 162px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: var(--bg-btn-main);
      border-radius: 27px;
    }
  }
  