.templatesModal {  
    &__br{
      @media screen and (max-width: 340px) {
       display: none;
      }
    }
  
    &__content{
      background-color: grey;
      padding: 20px;
      margin-bottom: 20px;
      letter-spacing: 0.1px;
      font-size: 14px;
      @media screen and (max-width: 500px) {
        overflow: auto;
        max-height: 420px;
      }
      @media screen and (max-width: 380px) {
        max-height: 340px;
      }
      @media screen and (max-width: 350px) {
        padding: 10px;
        margin-bottom: 14px;
        max-height: 290px;
      }
      @media screen and (min-width: 768px) {
        padding: 25px;
      }
  
      &-text{
        line-height: 18px;
        @media screen and (min-width: 768px) {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
  