.detail{
  background-color: #000000;
  padding: 46px 0 69px 0;
  @media (min-width:1300px){
    padding: 199px 150px 201px 150px;
  }

  &-sub-title{
    color: #fff;
    width: 60%;
    font-weight: 600;
    font-size: 63px;
    line-height: 85px;
    letter-spacing: 0.02em;
  }    
  &-text{
    font-weight: 400;
    font-size: 16px;
    width: 60%;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-top: 28px;
  }
  h2{
      font-size: 24px;
      line-height: 35px;
      width: 90%;
      padding: 0 15px 44px 15px;
  }
  &-text{
      padding: 0 15px;
      width: 90%;
      margin-bottom: 40px;
  }
  &-figure{
      margin: 0px 0 60px 0;
      width: 100%;
      padding: 50px 0;
      border-radius: 0;
      @media (min-width:1300px){
        margin: 97px 0 93px 0;
        padding: 120px 0;
        border-radius: 10px;
      }
      &-item{
          width: 150px;
          margin-left: 33%;
      }
      
      &-img{
          width: 75vw;
          margin-left: 13%;
          @media (min-width:1300px){
            margin-left: 12%;
            width: 60vw;
            height: 100%;
          }
      }
  }
  &-block{
      &-figures{
          margin-bottom: 10px;
          .detail-figure:first-child{
              margin-right: 0;
          }
          .detail-figure:last-child{
              margin-top: 10px;
              margin-left: 0;
          }
      }
      &-desktop-figures{
          margin-bottom: 60px;
          :first-child{
              margin-bottom: 10px;
          }
      }
  }
  
  .fleX{
      justify-content: space-around;
      flex-wrap: wrap;
      figure{
          width: 100%;
      }
  }
  .mob-group{
    @media (min-width:1300px){
      justify-content: center;
      :last-child{
        margin-right: 0;
      }
    }
      &-map{
          width: 23vw;
          @media (min-width:1300px){
            width: 20vw;
            height:100%;
            margin-right: 30px;
          }
      }
  }
  .right{
      margin: 0;
      display: block;
  }
}

.right{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .fleX{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    figure{
      width: 49%;
      margin-bottom: 0;
    }
  }
  
  .App {
    &-logo {
      height: 40vmin;
      pointer-events: none;
    }
    width: 100%;
    
  }
  
//////////////////////////////////////////////////////////////
@media screen 
  and (min-width: 1300px) 
  and (max-width: 1899px){
.detail{
    
    &-figure{

      &-item{
        height: 100%;
        max-width: 30vw;
      }
      
    }
    &-text{
      margin-top: 20px;
    }
    &-block-figures{
      margin-bottom: -55px;
      .detail-figure{
        padding: 50px;
        img{
          width: 300px;
        }
      }
    }
  }
  }
  
  
  
  @media screen 
  and (min-width: 1024px) 
  and (max-width: 1299px){
.detail{
    &-figure{
      margin: 90px 0 150px 0;
      padding: 75px 125px;
    }
    padding: 100px 0 160px 0;
    &-sub{
      &-title{
        line-height: 60px;
      }
    }
    &-block{
      &-figures{
        // padding: 100px 50px;
        .detail-figure{
          padding: 100px 50px;
          &-item{
            width: 200px;
          }
        }
      }
    }
    &-figure{
      justify-content: center;
      img{
        width: 900px;
      }
      .mob-group-map{
        width: 500px;
        height: 500px;
        margin: 0 15px;
      }
    }
  }
}

@media screen 
and (min-width: 1901px) {
  .detail{

    padding: 200px 0 260px 0;
    :last-child{
      margin-bottom: 0;
    }

    &-figure{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 135px 225px;
      border-radius: 8px;
      margin: 150px 0 200px 0;
      
    }

    &-block{
      &-desktop-figures{
        margin-bottom: 200px;
        figure:first-child{
          margin-bottom: 35px;
        }
        figure:last-child{
          margin-top: 0;
        }
      }
      &-figures{
        margin-bottom: -55px;
        .detail-figure:first-child{
          margin-right: 20px;
        }
        .detail-figure:last-child{
          margin-left: 20px;
        }
      }
    }
  }

}

