.allContainer{
    padding:60px 80px 150px 80px;
    background: #000000;
}
.allProjectsWrap{
    padding:20px 0 20px 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.allProjectsItem{
    background: #20222B;
    padding: 20px;
    border-radius: 8px;
    margin: 0 10px 10px 0;
    
}