.allContainer{
    padding:60px 80px 150px 80px;
    background: #000000;
}
.allProjectsWrap{
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: space-around;
}
.allProjectsItem{
    width: 20vw;
    background: #20222B;
    
}