.allContainer{        
    padding:110px 0 44px 0;
    background: #15161C;
    @media (min-width:1024px){
        padding: 220px 80px 44px 80px;
    }
    @media(min-width: 1900px){
        padding:220px 80px 150px 80px;
    }
}
.allProjects-title{
    margin: 0 0 0 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    @media (min-width:768px){
        max-width: 655px;
        margin: 0 auto;
    }
    @media(min-width: 1024px){
        max-width: 900px;
        font-weight: 600;
        font-size: 46px;
        line-height: 70px;
    }
    @media (min-width:1300px){
        max-width: 1300px;
        //margin-left: 40px;
    }
    @media (min-width:1900px){
        max-width: 1620px;
    }
}
.mainProjects{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 39px 0 60px 0;
    @media(min-width: 1024px){
        margin: 33px 0 105px 0 ;
    }
    @media(min-width: 1900px){
        margin: 43px 0 135px 0 ;
    }
    &-item{
        background: #20222B;
        margin-bottom: 10px;
        padding: 20px 0;
        a{
            display: block;
         }
         img{
            width: 100%;
        }

       @media (min-width:768px){
           padding: 0;
           max-width: 655px;
       }
        @media(min-width: 1024px){
            border-radius: 8px;
            width: 44.2%;
            max-width: 440px;
            flex-grow: 1;
        }
        @media(min-width: 1300px){
            width: 44.7%;
            max-width: 640px;
        }
        @media(min-width: 1900px){
            width: 46.8%;
            max-width: 800px;
        }
    }
}

.secondaryProjects{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 39px 0 60px 0;
    @media (min-width:1024px){
        margin: 39px 0 220px 0;
    }
    @media(min-width: 1900px){
        margin: 43px 0 0 0 ;
    }
    &-item{
        background: #20222B;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        a{
           display: block;
        }
        img{
            width: 100%;
        }
        @media (min-width:768px){
            padding: 0;
            max-width: 655px;
        }
        @media(min-width: 1024px){
            border-radius: 8px;
            width: 27.1%;;
            margin-right: 20px;
            max-width: 290px;
            flex-grow: 1;
        }
        @media(min-width: 1300px){
            width: 28%;
            max-width: 425px;
        }
        @media(min-width: 1900px){
            width: 29.8%;
            margin-right: 30px;
            max-width: 510px;
        }
    }
}





@for $i from 1 through 6{
    @if($i % 2) == 1{
        .mainProjects{
            :nth-child(#{$i}){
                @media(min-width: 1024px){
                    margin-right: 20px;
                }
                @media(min-width: 1900px){
                    margin-right: 30px;
                }
            }
        }
    }
    @if($i < 3){
        .mainProjects{
            :nth-child(#{$i}){
                @media(min-width: 1024px){
                    margin-bottom: 20px;
                }
                @media(min-width: 1900px){
                    margin-bottom: 30px;
                }
            }
        }
        .mainProjects-item{
            :nth-child(#{$i}){
                @media(min-width: 1024px){
                    margin-bottom: 0;
                }
            }
        }
    }

    // Secondary //
    @if( $i % 3 == 0){
        .secondaryProjects{
            :nth-child(#{$i}){
                @media(min-width: 1024px){
                    margin-right: 0;
                }
                @media(min-width: 1900px){
                    // margin-right: 30px;
                }
            }
        }
    }
    @if($i < 4){
        .secondaryProjects{
            :nth-child(#{$i}){
                @media(min-width: 1024px){
                    margin-bottom: 20px;
                }
                @media(min-width: 1900px){
                    margin-bottom: 30px;
                }
            }
        }
        .secondaryProjects-item{
            :nth-child(#{$i}){
                @media(min-width: 1024px){
                    margin-bottom: 0;
                }
            }
        }
    }
}