 @font-face {
    font-family: 'CASaygonText';
    src: url('../assets/fonts/CASaygonText-LightItalic.ttf');
     font-weight: normal;
     font-style: italic;
     font-display: swap;
   }
   @font-face {
    font-family: 'CASaygonText';
    src: url('../assets/fonts/CASaygonText-regular.ttf');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
   }