@use './fonts';

body {
    margin: 0;
    font-family: 'CASaygonText';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.App {
    text-align: center;
  &-logo {
    height: 40vmin;
    pointer-events: none;
  }
}

