@use './fonts';
@use './variables';
*{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

body {
    margin: 0;
    font-family: 'Grandis','CA Saygon Text',Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

  }
  .container{
    @media (min-width: 768px){
      width: 658px;
      margin: 0 auto;

    }
    // @media (min-width: 940px){
    //   margin: 0 60px;
    // }
    @media (min-width: 1024px){
      width: 900px;
      margin: 0 auto;
    }
    @media (min-width: 1300px){
      width: 1200px;
      margin: 0 auto;
    }
    @media (min-width: 1900px){
      width: 1620px;
    }
    
  }
  img{
    max-width: 100%;
    display: inline-block;
    height:auto;
    image-rendering: -moz-crisp-edges;
  }

h1,h2,h3,h4, .home-header{
  font-family: 'CA Saygon Text';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.home-header{
  font-weight: 600;
  font-size: 66px;
  line-height: 90px;
  
}

h2{
  text-align: left;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #fff;

    @media screen and (min-width: 1024px){
      font-weight: 500;
      font-size: 47px;
      line-height: 90px;
      letter-spacing: 0.02em;
  }
  @media (min-width:1300px){
    font-weight: 500;
    font-size: 44px;
    line-height: 90px;
  }
  @media (min-width:1900px){

    font-size: 58px;
    line-height: 90px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width:1900px){
    font-size: 65px;
  }
}
h3{

  font-family: 'CA Saygon Text';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  @media (min-width:1900px){
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;
  }
}
p{
color:#D0D0D2;

font-family: 'Grandis';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 30px;
@media (min-width:1300px){
  font-size: 16px;
}
@media (min-width:1900px) {
  font-size: 18px;
  line-height: 35px;
}
}

