.for-customer{
    background: #0D0E12;
    padding: 0 0 27px 0;
    @media (min-width:768px){
        background: #0D0E12 url('../../../assets/images/FormCustomer.png') no-repeat;
        background-position-x:  -500px;
    }
    @media (min-width:1024px){
        padding: 120px 80px 0 80px;
        background-position-y:  -90px;        
        background-position-x:  -200px;
        padding-right: 60px;
        padding-left: 60px;
        height: 800px;

    }
    @media (min-width:1300px){
        height: 750px;
        background-position-x:  0;
        background-position-y:  -118px;

    }
    @media (min-width: 1900px){
        background-position-x: right;
        background-position-y: 0px;
        background-size: cover;
        padding: 175px 150px 200px;
        position: relative;
    }
    .flex{
        @media (min-width:1024px){
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &-wrap{
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
    }
    &-info{
        max-width: 100%;
        @media (min-width: 1024px){
            margin-right: 0;
            max-width: 50%;
        }
        @media (min-width: 1300px){
            margin-right: 80px;
        }
        @media (min-width: 1900px){
            // width: 705px;
        }
    }
    &-title{
       display: none;
       @media (min-width:1024px){
            width: 440px;
            font-weight: bold;
            font-size: 42px;
            line-height: 65px;
            display: inline-block;
        }
        @media (min-width:1300px){
            width: 580px;
            font-size: 42px;
            // line-height: 70px;
        }
        @media(min-width: 1900px){
            width: 705px;
            color: #fff;
            font-size: 54px;
            line-height: 80px;
        }
    }
    &-text{
        display: none;
        @media (min-width:1024px){
            display: inline-block;
            margin-top: 40px;
            margin-bottom: 60px;
            width: 100%;

            font-size: 16px;
            line-height: 30px;
        }
        @media(min-width: 1900px){
            margin: 39px 0 112px 0;
            font-size: 18px;
            line-height: 35px;
            width: 80%;
        }
    }
    &-contacts{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 30px;
        .contact-item{
            margin-bottom: 28px;
            
            @media(min-width: 1024px){
                margin-right: 50px;
            }
        }
        @media(min-width: 768px){
            flex-direction: row;
            justify-content: space-around;
        }
        @media(min-width: 1024px){
            margin-top: 71px;
            margin-left: 0;
            justify-content: end;
        }
        @media (min-width: 1300px){
            
            // flex-direction: row;
        }
        @media(min-width: 1900px){
            // flex-direction: row;            
            // justify-content: space-between;
            
        }
    }   
}
.result{
    display:flex;
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width:1300px){
    .for-customer{
        padding: 80px 80px 0 80px;
        background-position-y:  -211px;        
        background-position-x:  -87px;
        height: 800px;
        &-title{
            font-size: 40px;
            line-height: 60px;
        }
        &-contacts{
            margin-top: 60px;
            margin-right: 50px;
        .contact-item{
            margin-top: 0px;
        }
        }
    }
}


