.for-customer{
    background: #0D0E12 url('../../../assets/images/FormCustomer.png') no-repeat;
    background-position-x: right;
    background-position-y: -36px;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 315px;
    position: relative;
    &-wrap{
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
    }
    &-info{
        max-width: 40%;
    }
    &-title{
        color: #fff;
        font-size: 54px;
        line-height: 80px;
    }
    &-text{
        margin: 39px 0 112px 0;
        width: 80%;
    }
    &-contacts{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
   
}
.result{
    height:100%;
    display:flex;
}



@media only screen 
  and (min-device-width: 1300px) 
  and (max-device-width: 1899px){
    .for-customer{
        background-position-y: 0;
        &-title{
            font-size: 44px;
            line-height: 70px;
        }
        padding-bottom: 70px;
    }
  }



  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1299px){
    .for-customer{
        padding-top: 110px;
        background-position-y: 20px;
        .flex{
            flex-direction: column;
            justify-content: center;
          
      }
      &-title{
        line-height: 55px;
    }
    &-text{
        margin-top: 29px;
        margin-bottom: 30px;
        width: 100%;
    }
    &-contacts{
        flex-wrap: nowrap;
        .contact-item{
            margin-right: 50px;
        }
    }
      .form{
            align-self: center;
            width: 100%;
            right: 0;
            top: 90px;
      }
    }
     
  }