$backgroundColor: #0D0D0D;

.footer{
    background-color: $backgroundColor;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 57px 0;
   .container{
       display: flex;
       flex-direction: row-reverse;
       align-items: center;
       justify-content: space-between;
       p{
           font-size: 11px;
           position: relative;
           top: 40px;
           left: 50%;
           transform: translate(-50%);
           @media (min-width:768px){
            font-size: 9px;
               position: static;
               transform: translate(0);
           }
           @media (min-width:1024px){
               font-size: 11px;
           }
       }
   }
   &-logo{
    position: relative;
    left: -50%;
    transform: translate(43%);
   }
}

@media screen 
and (min-width: 320px) 
and (max-width: 768px){
    .footer{
        padding: 36px 0;
        &-logo{
            width: 150px;
        }
    }
}

 @media (-webkit-min-device-pixel-ratio: 2), 
        (   min--moz-device-pixel-ratio: 2),
        (     -o-min-device-pixel-ratio: 2/1) and (min-width:1300px){
    .footer{
        padding: 53px 0;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width:1900px){
    .footer{
        padding: 83px 0;
        &-logo{
            width: 300px;
        }
        .container{
            p{
                font-size: 18px;
            }
        }
    }
}