$backgroundColor: #0D0D0D;

.footer{
    background-color: $backgroundColor;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 57px 0;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 760px){
    .footer{
        padding: 36px 0;
    }
}